:root {
    --primary-bg-color-dark: ;
    --primary-bg-color:#FFFFFF;
    --primary-text-color: #757575;
    --accent-color: ;
    --title-text-color: #212121;}

.body
.list{
    list-style: none;
}
.studio {
    color: 
}
 